  <div class="row">
    <div class="large-12 columns">
      <% if @trucks.present? %>
        <table>
          <tr>
            <th>Truck Name</th>
            <th>Hours</th>
            <th>Actions</th>
          </tr>
          <% @trucks.each do |t| %>
            <% brand = t.brand %>
            <tr>
              <td><%= brand.name %></td>
              <td><%= t.start_time.in_time_zone.strftime('%l:%M %p') %> - <%= t.end_time.in_time_zone.strftime('%l:%M %p') %></td>
              <td><%= link_to 'View', brand %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>No results found!</p>
      <% end %>
    </div>
  </div>
