  <div class="row">
    <div class="large-12 columns">
      <% if @trucks.present? %>
        <table>
          <tr>
            <th>Truck Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Actions</th>
          </tr>
          <% @trucks.each do |t| %>
            <tr>
              <td><%= t.brand.name %></td>
              <td><%= t.start_time %></td>
              <td><%= t.end_time %></td>
              <td><%= link_to 'View', '#' %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>No results found!</p>
      <% end %>
    </div>
  </div>
