<div class="search-wrap-bg">
  <section class="search-wrap">
    <div class="row">
      <div class="row">
        <div class="large-12 columns">
          <header>
            <h4>Find a food truck near you!</h4>
          </header>
        </div>
      </div>
      <%= form_tag '/search', remote: true do %>
        <div class="row">
          <div class="large-9 columns">
            <label>
              Where are you?
              <%= text_field_tag 'address', @address, placeholder: 'Address' %>
            </label>
          </div>
          <div class="large-3 columns">
            <label>
              When are you eating?
              <%= select_tag(:time_frame, options_for_select([['Breakfast', 'breakfast'], ['Lunch', 'lunch'],['Dinner', 'dinner']])) %>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <input class="button secondary" value="Search for trucks" type="submit">
          </div>
        </div>
      <% end %>
    </div>
  </section>
  <small class="attribution">
    <a href="http://www.flickr.com/photos/76146808@N02/8720339137/in/photolist-ehA21M-ehFLUs-ehzYrp-ehFHWC-ehFLfN-ehFK9W-ehzWQ2-ehFHJW-ehFJTE-ehFLqm-ehFGRC-ehFMdY-ehFFo1-ehzYA2-ehFGMJ-ehFL6E-ehzVfB-ehA2Bk-ehzXsF-ehFFF7-ehFLPY-ehA2EZ-ehFLCh-ehFK67-ehzZjM-ehA1Ra-ehzZtX-ehzZoe-ehzYDB-ehFJqm-ehFJmS-ehFGpu-ehzZPe-ehzVa2-ehA1ED-ehFJ5w-ehFJJ7-ehFJyS-ehFGZC-ehFLGN-ehzWoD-ehFFJm-ehFMRC-ehFKtW-ehFKWu-ehFFA9-ehzWag-ehFMAG-ehFGdJ-ehzZbn-ehzWUP">Photo</a>
    by Townsquare Media Albany /
    <a href="http://creativecommons.org/licenses/by/2.0/">CC BY</a>
  </small>
</div>

<section id="search-results" style="display: none;">
</section>
