<div class="search-wrap-bg">
  <section class="search-wrap">
    <div class="row">
      <div class="row">
        <div class="large-12 columns">
          <header>
            <h4>Find a food truck near you!</h4>
          </header>
        </div>
      </div>
      <div class="row">
        <div class="large-9 columns">
          <label>
            Where are you?
            <input type="text" placeholder="Address">
          </label>
        </div>
        <div class="large-3 columns">
          <label>
            When are you eating?
            <select>
              <option value="breakfast">Breakfast</option>
              <option value="lunch">Lunch</option>
              <option value="dinner">Dinner</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
          <input class="button secondary" value="Search for trucks" type="submit">
        </div>
      </div>
    </div>
  </section>
  <span class="attribution"></span>
</div>
