.wrap-bg {
    position: relative;

    .attribution {
        position: absolute;
        bottom: 10px;
        left: 10px;

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.search-wrap-bg {
    @extend .wrap-bg;
    background: url(asset-path('food-truck-festival.jpg')) no-repeat;
    background-size: cover;
    background-position: 0% 30%;

    & * {
        color: white;
    }

    select, option {
        color: black;
    }
}

.search-wrap {
    background-color: rgba(0,0,0,0.55);
    height: 20rem;
    display: flex;
    align-items: center;
}
